{% extends "Appfinal/index.html" %}
{% load static %}

{% block content %}
<style>
    body{
      background-color: rgb(199, 187, 138);
    }
  </style>
  <br>
  <br>

<h1>Ver Estilos</h1>

{% if estilos %}

    {% for estilo in estilos %}
        <li>Nombre: {{ estilo.nombre }} </li>
        <li>Color: {{ estilo.color }} </li>
        <li>Amargor: {{ estilo.amargor }} </li>
        <br>
    {% endfor %}
    <form action="{% url 'BuscarEstilo' %}" method="GET">
      <button type="submit">Volver a buscar</button>
    </form>
{% else %}
    <h3 style="font-family: Arial, sans-serif; color: red;">{{ mensaje }}</h3>
    <form action="{% url 'BuscarEstilo' %}" method="GET">
      <button type="submit">Volver a buscar</button>
    </form>
{% endif %}

{% endblock %}