{% extends "Appfinal/index.html" %}
{% load static %}

{% block content %}

<h1>Todos los Ingredientes Cargados</h1>
<ul class="card-list">
    {% for ingrediente in ingredientes %}
      <li class="card">
        <img src="{% static 'Appfinal/imagenes/ingredientes.jpg' %}" class="card-img" alt="...">
        <p class="card-text">Malta: {{ ingrediente.malta }}</p>
        <p class="card-text">Lupulo: {{ ingrediente.lupulo }}</p>
        <p class="card-text">Levadura: {{ ingrediente.levadura }}</p>
        <p class="card-text">Descripcion: {{ ingrediente.descripcion }}</p>
        <p class="card-text">Autor: {{ ingrediente.author }}</p>
        <p class="card-text">Time: {{ ingrediente.upload_time }}</p>
        {% if perms.Appfinal.change_ingrediente %}
          <a href="{% url 'EditarIngrediente' ingrediente.id %}" class="btn-edit">Editar</a>
        {% endif %}
        {% if perms.Appfinal.delete_ingrediente %}
          <a onclick="return confirm('¿Estás seguro de que deseas eliminar el Ingrediente?')" href="{% url 'DeleteIngrediente' ingrediente.id %}" class="btn-delete">Eliminar</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <style>
    .card-list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    .card {
      width: 200px;
      padding: 10px;
      background-color: #f0f0f0;
      border-radius: 5px;
      text-align: center;
    }
    .card-img {
      width: 100%;
      height: auto;
      border-radius: 20px;
    }
    .card-title {
      margin-top: 10px;
      font-size: 18px;
    }
    .card-text {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .btn-edit,
    .btn-delete,
    .btn-view {
      display: block;
      margin-top: 10px;
      padding: 5px 10px;
      border-radius: 5px;
      text-decoration: none;
      color: #fff;
      background-color: #0099ff;
    }
    .btn-edit {
      background-color: #fed766;
    }
    .btn-delete {
      background-color: #fc5185;
    }
    .btn-view {
      background-color: #00c1d4;
    }
    body {
            background-color: #c1b9b9;
        }
  </style>
  
{% endblock %}