{% extends "Appfinal/index2.html" %}
{% load static %}

{% block content %}
<br>

<h2>{{ mensaje}}</h2>
    <title>Iniciar Sesión</title>
    <style>
        body{
            background-color: rgb(122, 148, 97);
        }
        #login-form {
            background:linear-gradient(135deg, #c8bd8d, #dca840);
            padding: 35px;
            border-radius: 50px;
            width: 300px;
            margin: 0 auto;
        }

        #login-form input[type="text"],
        #login-form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #login-form input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 15px;
            cursor: pointer;
        }
        .button-container {
            display: flex;
            justify-content: center;
        }

        .button-container input[type="submit"] {
            width: 100%;
            max-width: 200px; /* Adjust the maximum width as needed */
        }
    </style>
</head>
<body>
    <div id="login-form">
        <h2>Iniciar Sesión</h2>
        <form method="POST" action="{% url 'Login' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <div class="button-container">
                <input type="submit" value="Iniciar Sesión">
              </div>
        </form>
    </div>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
