{% extends "Appfinal/index.html" %}
{% load static %}

{% block content %}


<title>Información sobre la Cerveza Scottish</title>
</head>
<style>
  body{
    background-color: burlywood;
  }
</style>
<body>
  <h1>Cerveza Scottish</h1>
  
  <img src="{% static 'Appfinal\imagenes\SCOTISH.jpg'%}" alt="Cerveza Scottish ">
  
  <h2>Descripción</h2>
  <p style="margin-left: 10px;">La cerveza Scottish es una variación única del estilo tradicional India Pale Ale (IPA) que combina la amargura lupulada de una IPA con la rica malta característica de las cervezas Scottishs. Incorpora lo mejor de ambos mundos, ofreciendo una experiencia cervecera audaz y llena de sabor.</p>
  
  <h2>Características</h2>
  <ul>
    <li><strong>Contenido de Alcohol:</strong> Por lo general, varía entre 5% y 7.5% ABV (alcohol por volumen).</li>
    <li><strong>Color:</strong> Dorado a ámbar, similar a una IPA tradicional.</li>
    <li><strong>Perfil de Sabor:</strong> Amargura lupulada, con un sólido cuerpo de malta que proporciona un sabor rico y ligeramente dulce. Pueden estar presentes notas de caramelo y toffee.</li>
    <li><strong>Maridaje:</strong> Carnes a la parrilla, estofados contundentes, quesos maduros y postres con sabores de caramelo o toffee.</li>
  </ul>
  
  <h2>Marcas Populares de Cerveza Scottish</h2>
  <ul>
    <li>BrewDog Punk IPA</li>
    <li>Innis & Gunn Hop Gun</li>
    <li>Harviestoun Bitter & Twisted</li>
    <li>Oskar Blues Old Chub</li>
    <li>Tempest Brave New World</li>
  </ul>
  
</body>



{% endblock %}
